# Virtual environment
/venv

# Generated embeddings (can be rebuilt)
/data/chroma_db/

# Runtime databases
/data/benchmark_results.db
# Large Datasets
/data/spider/
/data/bird/
/data/custom/

# SQLite databases
*.sqlite
*.sqlite3
*.db

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS files
.DS_Store

/src/__pycache__